<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TaskManagerDb" connectionString="Server=YOUR_SERVER_NAME;Database=TaskManagerDB;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
